
body {
    background-color: #fdfcfc;
}

.platillo:hover{
    box-shadow: 0 12px 20px rgba(230, 222, 2, 0.844);
    transform: translateY(-1px);
}

.tituloLista:hover{
    box-shadow: 0 12px 20px rgba(230, 222, 2, 0.844);
    transform: translateY(-1px);
}

/*Tamaño del título para cada producto*/
.nombreDescripcion h4 {
    font-size: 19px;
}

#nav{
    background-color: #B8860B;
}


