#carrusel img {
    object-fit: cover;
}

#spanPrecio {
    display: inline;
    font-weight: normal;
}


#precioSecundario{
    font-weight: bold;
}

.tituloLista li {
    font-size: 12px;
}

#precioBebidas {
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
}

.nav {
    background-color: rgba(0, 0, 0, 0.83);
}

.tituloLista {
    height: 12rem;
}

#salsasCuadro {
    height: 10rem;
}

@media screen and (min-width: 910px) {
    #salsasCuadro {
    width: 20%;
    height: 11rem;
    }
    
    #grenuda, #famosa{
        height: 8.5rem;
        width: 60%;
    }

    .tituloLista {
        height: 15rem;
    }
}

@media (hover: hover) {
    .platillo:hover{
    box-shadow: 0 12px 20px black;
    transform: translateY(-1px);
    }

    .tituloLista:hover {
        box-shadow: 0 12px 20px black;
        transform: translateY(-1px);
    }
}