
#spanPrecio {
    display: inline;
    font-weight: normal;
}


#precioSecundario{
    font-weight: bold;
}



#precioBebidas {
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
}

.nav {
    background-color: rgba(0, 0, 0, 0.83);
}

.tituloLista {
    height: 12rem;
}

#salsasCuadro {
    height: 10rem;
}

.tituloLista li {
  font-size: 13px;
}

.titulo p{
    color: white;
}


@media screen and (max-width: 1051px){
  .platillo {
    height: auto;
    padding: 2rem;
  }
}


@media screen and (min-width: 910px) {
    #salsasCuadro {
    width: 20%;
    height: 11rem;
    }

    .tituloLista {
        height: 15rem;
    }

    #grenuda, #famosa{
        height: auto;
        width: 60%;
    }
}

@media (hover: hover) {
    .platillo:hover{
    box-shadow: 0 12px 20px black;
    transform: translateY(-1px);
    }

    .tituloLista:hover {
        box-shadow: 0 12px 20px black;
        transform: translateY(-1px);
    }
}


@media (min-width: 1400px) {
    /* color para que el nav se vea como selecionado */
    .nav .active{
      background-color: rgba(17, 17, 17, 0.83);
    }
}

