.logoTitulo{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

header img {
  width: 125px;
  height: 75px;
  margin-right: auto; /* empuja a la izquierda para dejar espacio para el titulo */
}
 

.titulo{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
}

.hr1 {
  width: 100%; 
  margin: 5px 0;
}
 
nav {
  width: 100%; 
  display: flex; /* con este dice que sea flexible (pone los nav en filita)  */
  justify-content: center;
  gap: 15px; 
  flex-wrap: wrap; /* si ya no cabe lo hace hacia abajo */
  padding: 10px 0;
}

.hr2 {
  width: 100%; 
  order: 4; /* quinto hijo del flex */
  margin: 5px 0;
}


nav a { /* para que se vea bonito el nav */
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}