.logoTitulo img{
  object-fit: cover
}

#contenedorVideo{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 270px;
  margin: 0 auto;
}

video{
  width: 100%;
  height: auto;
  display: block;
}


#botonMaps a{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  z-index: 10;
  text-decoration: none;
  color: white;
  background-color: black;
  opacity: 70%;
}
