.logo{
    object-fit: cover;
}

#nav{
    background-color: #5e8015;
}

h1{
    color: #c56d29;
}

#segundoNav{
    background-color: #5e8015;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: sticky;
    display: flex;
    flex-wrap: wrap; /* Para que los items bajen de línea en móvil */
    justify-content: center;
    top: 0;
    z-index: 35;
    padding: 0;
    margin: 1rem 0;
}

#segundoNav a{
    white-space: nowrap;       /* Evita que cada item se rompa en varias líneas */
    font-size: 1rem;
    padding: 1rem 0.3rem;
    text-decoration: none;
    color: white;
    transition: background 0.2s;
    height: 100%;
}


/*Cuando hace click en la sección deja un margen top para que se pueda apreciar el producto que realmente es 
y no quede tapado por el segundo nav*/
.scrollTop{
    scroll-margin-top: 165px;
}


    /*En teléfonos pequeños se agrega un poco más de margen top en el segundo nav, ya que en pantallas más pequeñas más alto es el nav*/
@media screen and (min-width: 261px) {
    .scrollTop{
        scroll-margin-top: 275px;
    }
}

@media screen and (min-width: 281px) {
    .scrollTop{
        scroll-margin-top: 220px;
    }
}

@media screen and (min-width: 356px) {
    .scrollTop{
        scroll-margin-top: 170px;
    }
}

@media screen and (min-width: 495px) {
    .scrollTop{
        scroll-margin-top: 115px;
    }
}

@media screen and (min-width: 987px) {
    .scrollTop{
        scroll-margin-top: 60px;
    }
}


@media(hover:hover) {
    #segundoNav a:hover {
    background: #425a0f;
}
}


ul li {
    list-style: none;
}

#extrasFuertes {
    height: 10rem;
}


#empanadasArtesanales {
    height: 18rem;
}

#extrasBebidas {
    height: 10rem;
}

#gaseosas {
    height: 16rem;
}

#reposteriaTarjeta {
    height: 6rem;
}

.textoCentro{
    text-align: center;
    margin: 2px;
}


@media screen and (min-width: 1400px) {

    .menu nav{ 
        padding: 0.5rem; 
        display: flex; 
        gap: 0.5rem; 
        overflow-x: auto;
    }

    /*Espaciado entre los elementos del nav*/
    #segundoNav {
        gap: 15px;
    }

    #segundoNav a{
        font-size: 1.3rem;
    }
    
    /*Cuando hace click en la sección deja un margen top para que se pueda apreciar el producto que realmente es 
    y no quede tapado por el segundo nav*/
    .scrollTop{
        scroll-margin-top: 65px;
    }

    
}

@media (hover: hover) {
    .platillo:hover{
    box-shadow: 0 12px 20px #173510;
    transform: translateY(-1px);
    }

    .tituloLista:hover {
        box-shadow: 0 12px 20px #173510;
        transform: translateY(-1px);
    }
}

/* color para que el nav se vea como selecionado */
.nav .active{
  background-color: #4d6911;
}