#nav{
  background-color: #c8990cef;
}

#salsas{
  height: 25rem;
}

#orden-pa-picar{
  height: 11rem;
}

.textoCentro{
  text-align: center;
  margin: 2px;
}

.titulo em {

  color: white;
  text-align: center;
}

@media (hover: hover) {
    .platillo:hover{
    box-shadow: 0 12px 20px #c8990cef;
    transform: translateY(-1px);
    }

    .tituloLista:hover {
        box-shadow: 0 12px 20px #c8990cef;
        transform: translateY(-1px);
    }
}