header{
    background-color: #F0A096;
}

footer{
    background-color: #fff;
    color: black;
}

footer a{
    color: black;
}

h1{
    color: black;
}

.nombreLista {
  font-weight: bold;
  white-space: pre-wrap;

}

#salsas ul li{
  font-size: 0.9rem;
}

/* Convierte la imagen del botón hamburguesa de blanco a negro */
.abrirMenu img,
.cerrarMenu img {
  filter: invert(1);
}

.nav {
  background-color: #F0A096;
}

.navList li a {
  color: black;
}

#nav{
  background-color: #d5877d;
}

footer{
  background-color: #F0A096;
}

#salsas {
  height: auto;
  }

#toppings {
  height: auto;
}

#empaque {
  height: auto;
}

#listaPostres {
  height: auto;
}

#listaBubblesTea {
  height: auto;
}

#listaEntradas {
  height: auto;
}

.copyright{
  color: black;
}

.platillo {
  padding: 2rem;
}

@media screen and (min-width:798px) {
  #salsas ul li{
    font-size: 1rem;
  }

  #salsas {
  height: 18rem;
  }
}

@media (hover: hover) {
    .platillo:hover{
    box-shadow: 0 12px 20px #d5877d;
    transform: translateY(-1px);
    }

    .tituloLista:hover {
        box-shadow: 0 12px 20px #d5877d;
        transform: translateY(-1px);
    }
}


@media (min-width: 1400px) {
    /* color para que el nav se vea como selecionado */
    .nav .active{
      background-color: #b3756d;
    }
}

