header{
    background-color: #fff;
}

footer{
    background-color: #fff;
    color: black;
}

footer a{
    color: black;
}

h1{
    color: black;
}

/* Convierte la imagen del botón hamburguesa de blanco a negro */
.abrirMenu img,
.cerrarMenu img {
  filter: invert(1);
}

.nav {
  background-color: white;
}

.navList li a {
  color: black;
}

#nav{
  background-color: #F0A7A0;
}

footer{
  background-color: #F0A7A0;
}