* {
  margin: 0;
  padding: 0;
  /*Evita calculos incorectos al usar width y height, ya que el valor que se use en esas características se mantiene incluso si se le agrega padding y border*/
  box-sizing: border-box;
}

header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  background-color: black;
  min-height: 80px;
  position: relative;
}


.logoContainer {
  grid-column: 1;  /*Columna izquierda*/
  justify-self: start;  /*Alineado a la izquierda*/
}


.logo {
  width: auto;
  height: 80px;
  max-width: 90px;
  flex-shrink: 0;
  object-fit: contain;
}

h1{
  grid-column: 2;  /*Columna central (exactamente en el medio)*/
  text-align: center;
  color: white;
  font-size: 1.5rem;
}
/* se creó el h1 span para desplazar los titulos largos hacia abajo así quedan bonitos*/
h1 span{
  display: block;
} 

.abrirMenu,
.cerrarMenu {
  grid-column: 3;  /*Columna derecha */
  justify-self: end;  /*Alineado a la derecha */
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* hace que el cuadro del foco del menú hamburguesa se haga trasparente  */
  -webkit-tap-highlight-color: transparent;
}


.abrirMenu img,
.cerrarMenu img {
  width: 35px;
  height: 35px;
  display: block;
}



.nav {
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem; /*Separar el boton de cerrar de acuerdo con la li*/
  position: absolute;
  /*Medidas para enviar la lista al lado derecho*/
  top: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  padding: 2rem;
  /*Sombra del background cuando se abre el menu hanburguesa*/
  /* box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5); */
  z-index: 30;
}

.nav.visible {
  opacity: 1;
  visibility: visible;
}

.navList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  
}


.navList li a {
  text-decoration: none;
  color: white;
  
}

/* Enmáscarado oscuro de la pantalla cuando se abre el menú hamburguesa */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Va abarcar todo el ancho y alto de la pantalla*/
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20; /* Justo debajo del menú hamburguesa (que tiene z-index: 30) */
  opacity: 0;
  visibility: hidden;
}

/*Clase que se utiliza para activar el */
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* No permite el uso del scroll para cuando se abre el menú hamburguesa */
.bodyNoScroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}


@media screen and (min-width: 1105px) {


  .header {
    padding: 05rem 2rem;
    min-height: 110px;
    gap: 2rem;
  }

  .abrirMenu,
  .cerrarMenu {
    display: none;
  }

  .overlay{
    display: none;
  }

  .nav {
    opacity: 1;
    visibility: visible;
    position: static;
    flex-direction: row;
    background-color: grey;
    padding: 12px 0;
    box-shadow: none;
    justify-content: center;
    font-size: 18px;
  }

  .navList {
    flex-direction: row;
    align-items: center;
    
  }

  .navList li a {
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    
  }

  h1{
    font-size: 2rem;
  }
  
  /* se restablece la disposición del texto para mantenerlo en un línea */
  h1 span{
    display: inline;
  }

  .logo{
    max-width: 150px;
    height: 130px;
    width: 110px;
  }
}

