/*Carrusel*/
 
.carruselContainer{
  position: relative;
  max-width: 1070px; /*Hasta llegar a 1070px se ve así*/
  margin: 0 auto;
  overflow: hidden;
}
 
.carrusel{
  display: flex; /*Coloca las imágenes en horizontal*/
  transition: transform .5s ease-in-out;
}
 
.carruselItem{
  min-width: 100%; /*Abarca todo el ancho de la pantalla*/
  position: relative;
  overflow: hidden; /* para que el blur no se salga del contenedor */
}
 
.carruselItem img {
  width: 100%;
  height: 550px;
  object-fit:cover;
  display:block;
  position: relative;
}
 
 
.fondoBorroso {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(15px);
  transform: scale(1.15); /* evita bordes claros por el blur */
  z-index: 0;
}
 
.carruselBoton img {
    width: 40px;
    height: 40px;
}
 
 
/*Botones de seguir, retroceder*/
.carruselBoton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); /*RGBA da la opción de opacidad*/
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: background .3s;
}
 
 
.carruselBoton:hover {
  background: rgba(0, 0, 0, 0.8);
}
 
.carruselBotonPrev{
  left: 10px;
}
 
.carruselBotonNext {
  right: 10px;
}
 
/*Puntos de desplazamiento*/
 
.contentIndicators{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
 
.indicator{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.551);
  cursor: pointer;
  transition: background .3s;
}
 
.indicator.active{
  background-color: white;
}
 
.fotoTitulo img {
  object-fit: cover;
  height: 150px;
  width: 90%;
  border-radius: 8px;
}
 
/*Opacidad de la imagen de las secciones*/
.fotoTitulo img{
  filter:brightness(50%);
}

/* tamaño de la tipografia en las listas */
.tituloLista li {
  font-size: 14px;
}

 
/*Medida baja para evitar que ciertas imagenes (Ironfit) quede cortada*/
@media (min-width: 430px) {
  .carruselBoton img {
    width: 60px;
    height: 60px;
  }
 
  .carruselItem img {
    width: 100%;
    height: 700px;
    object-fit: contain;
  }
 
  .fondoBorroso {
    background-image: url();
    filter: blur(10px);
    /*La profundidad va a ser baja y siempre va estar por debajo todos los elementos del carrusel (botones flecha, puntos de índice y la img que va a ir arriba)*/
  }
 
}
 
/*Opciones de modificación para encabezado de cada sección*/
/*Hero*/
.fotoTitulo{
  display: flex;
  justify-content: center;
  position: relative;
}
 
.titulo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titulo h3 {
  font-size: 2rem;
  color: white;
  text-align: center;
}
 
 
/*Opciones de modificación para las cartas de cada producto (INDIVIDUAL)*/
/*Grid del menú de las tiendas de comida*/
/*Conjunto de artículos, que corresponde al conjunto de cards*/
.categorias {
    display: grid;
    grid-template-columns: 1fr; /* Una sola columna */
    gap: 1rem;
    padding: 1rem;
   
}
 
/*Card*/
.platillo {
    background:rgba(255, 255, 255, 0.7);
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #e9ecef;
    text-align: start;
    gap: 1rem;
    display: grid; /*Activar segundo grid para establecer dos columnas en el contenido del card*/
    grid-template-columns: 1fr auto; /*Segunda columna automática*/
    align-items: center; 
    height: 12rem;
}
 /*297*/
@media screen and (max-width: 910px){
  .platillo {
    height: auto;
  }
}

 
/*Opciones de modificación para las listas de productos*/
  .listas {
    display: grid;
    grid-template-columns: 1fr; /* Una sola columna */
    gap: 1rem;
    padding: 1rem;
  }
 
  .tituloLista {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(4px); /* Desenfoque de fondo */
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #e9ecef;
    text-align: start;
    height: 13rem;
    width: 100%;
    margin: 0 auto;
  }
 
  .tituloProducto {
    text-align: center;
    padding: 0.5rem 0;
   
  }

 
  .listas ul li {
    display: flex;
    justify-content: center;
  }
 
  /*Tamaño de la letra para la descripción del producto*/
  p {
    font-size: 14px;
  }
 
  /*Tamaño de la letra para el precio del producto*/
  .precio p{
      font-size: 1rem;
  }

  .nota {
    font-size: 12px;
  }



@media screen and (min-width: 910px){
 
  .platillo{
    height: 9rem;
  }
  /*Contenedor de las fichas*/
    .categorias {
      /*Se vuelven 2 columnas*/
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 40px;
        margin: 0 auto;
        width: 80%;
        padding: 1rem 2rem;
    }
 
    /*Carta larga y centrada como excepción de cuando hay secciones que tienen una fila con una sola columna
    como en id="mojito-flor-de-cana" de aurum*/
    .platillo.centradaDesktop {
    grid-column: 1/-1; /* Ocupa toda la fila, le quita el formato 2 columnas*/
    justify-self: start;
    margin: 0 auto;
    width: 50%;
  }
 
  .tituloLista{
    width: 37%;
  }
 
 
  /*Dimensiones del hero en desktop*/
  .fotoTitulo img {
    width: 1275px;
    height: 250px;
  }

  p {
    font-size: 1rem;
  }

  .listas ul li {
    font-size: 1rem;
  }


/* texto del título en desktop */
  .titulo h3 {
  font-size: 2.5rem;
  color: white;
}
 
 
}
 
 