/*Carrusel*/

.carruselContainer{
  position: relative;
  max-width: 1070px; /*Hasta llegar a 1070px se ve así*/
  margin: 20px auto;
  overflow: hidden;
}

.carrusel{
  display: flex; /*Coloca las imágenes en horizontal*/
  transition: transform .5s ease-in-out;
}

.carruselItem{
  min-width: 100%; /*Abarca todo el ancho de la pantalla*/
  position: relative;
  overflow: hidden; /* para que el blur no se salga del contenedor */
}

.carruselItem img {
  width: 100%;
  height: 550px;
  object-fit:cover;
  display:block;
  position: relative;
}


.fondoBorroso {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(15px);
  transform: scale(1.15); /* evita bordes claros por el blur */
  z-index: 0;
}

.carruselBoton img {
    width: 40px;
    height: 40px;
} 


/*Botones de seguir, retroceder*/
.carruselBoton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); /*RGBA da la opción de opacidad*/
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: background .3s;
}


.carruselBoton:hover {
  background: rgba(0, 0, 0, 0.8);
}

.carruselBotonPrev{
  left: 10px;
}

.carruselBotonNext {
  right: 10px;
}

/*Puntos de desplazamiento*/

.contentIndicators{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.indicator{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.551);
  cursor: pointer;
  transition: background .3s;
}

.indicator.active{
  background-color: white;
}

@media (min-width: 560px) {
  .carruselBoton img {
    width: 60px;
    height: 60px;
    
  }

  .carruselItem img {
    width: 100%;
    height: 700px;
    object-fit: contain;
  }

  .fondoBorroso {
    background-image: url();
    filter: blur(10px);
    /*La profundidad va a ser baja y siempre va estar por debajo todos los elementos del carrusel (botones flecha, puntos de índice y la img que va a ir arriba)*/
  }
  
}


/*Hero*/
.fotoTitulo{
  display: flex;
  justify-content: center;
  position: relative;
}

.titulo{
  position: absolute;
  color: brown;
  bottom: 20px;
  left: 30%;
  transform: translateX(-50%);
}

/*Grid del menú de las tiendas de comida*/

/*Conjunto de artículos, que corresponde al conjunto de cards*/
.categorias {
    display: grid;
    grid-template-columns: 1fr; /* Una sola columna */
    gap: 1rem; 
    padding: 1rem;
    
}

/*Card*/
.platillo {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(4px); /* Desenfoque de fondo */
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #e9ecef;
    text-align: start;
    display: grid; /*Activar segundo grid para establece dos columnas en el contenido del card*/
    grid-template-columns: 87% 13%;
    align-items: center; /*Centrar el contendido del card e height*/
    height: 7rem;
}


/*Tamaño de la letra para la descripción del producto*/
p {
  font-size: 12px;
}

/*Tamaño de la letra para el precio del producto*/
.precio p{
    font-size: 1rem;
}


@media screen and (min-width: 910px){

    .categorias {
      /*Se vuelven 2 columnas*/
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 40px;
        margin: 0 auto;
        width: 80%;
        padding: 1rem 2rem;
    }


}
