/*Carrusel*/

.carruselContainer{
  position: relative;
  max-width: 1070px; /*Hasta llegar a 1070px se ve así*/
  margin: 20px auto;
  overflow: hidden;
}

.carrusel{
  display: flex; /*Coloca las imágenes en horizontal*/
  transition: transform .5s ease-in-out;
}

.carruselItem{
  min-width: 100%; /*Abarca todo el ancho de la pantalla*/
  position: relative;
  overflow: hidden; /* para que el blur no se salga del contenedor */
}

.carruselItem img {
  width: 100%;
  height: 550px;
  object-fit:cover;
  display:block;
  position: relative;
  z-index: 20; /* la imagen nítida siempre arriba */
}


.fondoBorroso {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(15px);
  transform: scale(1.15); /* evita bordes claros por el blur */
  z-index: 1;
}

.carruselBoton img {
    width: 40px;
    height: 40px;
} 


/*Botones de seguir, retroceder*/
.carruselBoton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); /*RGBA da la opción de opacidad*/
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: background .3s;
  z-index: 8;
}


.carruselBoton:hover {
  background: rgba(0, 0, 0, 0.8);
}

.carruselBotonPrev{
  left: 10px;
  z-index: 20;
}

.carruselBotonNext {
  right: 10px;
  z-index: 20;
}

/*Puntos de desplazamiento*/

.contentIndicators{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.indicator{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: background .3s;
}

.indicator.active{
  background-color: white;
}

@media (min-width: 560px) {
  .carruselBoton img {
    width: 60px;
    height: 60px;
    
  }

  .carruselItem {
    z-index: 5;
  }


  .carruselItem img {
    width: 100%;
    height: 700px;
    object-fit: contain;
  }

  .fondoBorroso {
    background-image: url(img/raizTicaCafe/carrusel5.webp);
    filter: blur(10px);
    z-index: 1;
  }
  
}

